.app__specialMenu {
    position: relative;
    flex-direction: column;
    background-color: var(--color-black);
}

.app__specialMenu-title {
    flex-direction: column;
    text-align: center;
    color: var(--color-white);
}

.app__specialMenu-menu {
    width: 100%;
    /* flex: 1; */
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: flex-start;
}

.app__specialMenu-menu_wine {
    width: 100%;
}

.app__specialMenu-menu_img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app__specialMenu-menu_img img {
    height: 600px;
    padding: 0 3rem;
} 

.app__specialMenu-menu_cocktail {
    width: 100%;
}


@media screen and (max-width: 1300px) {
    .app__specialMenu-menu {
        flex-direction: column;
    }

    .app__specialMenu-menu_img{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 650px) {
    .app__specialMenu-menu_img img {
        height: 450px;
        padding: 0;
    }
}

@media screen and (max-width: 450px) {
    .app__specialMenu-menu_img img {
        height: 350px;
    }
}

@media screen and (max-width: 350px) {
    .app__specialMenu-menu_img img {
        height: 200px;

    }
}